* {
  box-sizing: border-box;
  
}

.top-page-header {
  width: 100vw;
  padding: 2vh 10vw 0 10vw;
  background-color: #00a48d;
}

.nav {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1% ;
}

.lists-left {
  min-width: 200px;
}

.item_search{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.select-categories{
  display: flex;
}

.select-category{
  margin-right:24px;
}

.select-category > p{
  margin-bottom: 2px;
} 

.search-fee > p{
  margin-bottom: 2px;
}

.label-names{
  margin-left: 2%;
}

.search-field{
  height: 12%;
  border: none;
}

.collection-field{
  height: 30px;    
}

.category-list {
  text-decoration: none;
  color: #333333;
}

.office-list {
  text-decoration: none;
  color: #333333;
}

.search-button {
  padding: 7px;
  cursor: pointer;
  background-color: rgb(250, 250, 5);
  border-radius: 5%;
  border: none;
  box-shadow: 3px 3px gray;
  margin-right:12px;
}

.reset-button{
  padding: 7px;
  width: 5vw;
  height: 7vh;
  cursor: pointer;
  background-color: rgb(255, 255, 251);
  border-radius: 5%;
  border: none;
  text-decoration: none;
  box-shadow: 3px 3px gray;
}


.lists-right {
  list-style: none;
  padding-left: 0%;
  padding-right: 2rem;
}

.header-icon{
  text-align: center;
}

.header-logo{
  width: 8vw;
}

.login-status{
  display: flex;
  margin-top: 20%;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}