* {
  box-sizing: border-box;
  
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: #00a48d;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.sense-icon {
  height:50px;
  width: 50px;
  margin-right: 5vw;
  border-radius: 50%;
}

.search-form {
  width: 40vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.input-box {
  width: 100%;
  height: 7vh;
  padding: 10px;
  margin-bottom: 3px;
  border-radius: 2%;
}

.search-button {
  width: 5vw;
  height: 7vh;
  cursor: pointer;
  background-color: rgb(250, 250, 5);
  border-radius: 10%;
}

.search-icon {
  width: 5vh;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}