.purchase-btn {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #333;
  text-shadow: 10px gray;
  top: 48px;
  right: 20px;
  position: fixed;
  z-index: 100;
}

.purchase-btn-text {
  color: #00a48d;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
  position: absolute;
  top: 40px;
  left: 20px;
}

.feature-contents {
  text-align: center;
  display: block;
}

.feature-pict{
  padding: 30px;
  width: 80%;
  position: relative;
  filter: blur(8px);
}

.feature-words{
  position: absolute;
  top: 400px;
  left: 220px;
}

.feature-words>.title{
  font-size: 70px;
  color: #FFF;
  margin-bottom: 10px;
  text-shadow: 4px 3px 3px #00a48d;;
}

.feature-list-text{
  font-size: 40px;
  color: #FFF;
  margin: 10px 0;
  text-shadow: 4px 3px 3px #00a48d;
  padding: 10px 0;
}


.item-contents{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  text-align: center;
}

.item-contents>.title{
  font-size: 50px;
  width: 100%;
  background-color: #00a48d;
}

.item-contents>.subtitle{
  font-size: 30px;
  margin: 15px 0;
  animation: flash 1.5s linear infinite;
}

@keyframes flash {
  0%,100% {opacity: 1;}
  50% {opacity: 0;}
}


.item-lists{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 25px 0;
  overflow: scroll;
  padding: 0 8rem;
}

.item-lists >.list{
  width: 37vh;
  background-color: #FFF;
  padding: 15px;
  margin: 30px 20px;
  border: 1px solid #00a48d;
  border-radius: 10px;
  position:relative;
}

.item-talent{
  font-size: 16px;
  padding-bottom: 10px;
  text-align: center;
}

.item-talent-name{
  text-decoration: none;
}

.item-img{
  width: 33vh;
  height: 33vh;
  text-align: center;
}

.item-footer{
  margin: 5px;
}


.item-name{
text-align: left;
margin:20px 0;
font-size: 16px;
}

.fee-heart{
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
}


.item-price{
  padding-top:5px;
}

.hearts{
  margin-right: 3%;
  padding-top:5px;
}

.heart-click{
 display:flex;
}

.fa-heart{
  font-size: 22px;
  cursor: pointer;
}

.heart-icon{
  margin-bottom: 0%;
}

.sold-outs{
  position: absolute;
  top: 0%;
  right: -7%;
  padding: 0 20px;;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: yellow;
  z-index: 90;
}





