.item-show{
  text-align: center;
  margin: 20px 20px;
}

.item-top-box{
  display: flex;
  justify-content: space-around; 
}

.item-name-image{
  width: 40vw;
  height: 60vh;
}

.item-name-image>.name{
  font-size:18px;
  margin-bottom: 5px;
}

.item-box-img{  
  height: 100%;
  width: 100%;
  max-height: 350px;
  object-fit: contain;
}

.sold-out{
  position: absolute;
  top: 40%;
  padding: 2% 0;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: yellow;
  transform: skewX(-18deg);
  transform: skewY(-18deg);
}

.item-about{
 width: 40vw;
 margin-top: 5vh;
 text-align: start;
}

.item-explain-box{
  width: 100%;
  height: 26vh;
}

.item-bottom-box{
  display:flex;
  justify-content: flex-start;
}

.detail-table{
  margin:0 10vw;
}

.details{
  display: flex;
  justify-content: space-between;
  margin: 3vh 0;
}

.detail-item{
  margin-right: 10vw;
}

.item-price-box{
  text-align: end;
  margin: 2vh 0;
  font-weight: bold;
  font-size: 18px;
}

.option{
  text-align: end;
  margin: 2vh 0;
}

.buttons{
  width: 40%;
  display:flex;
  justify-content: space-between;
}

.users-button{
  display:flex;
}

.users-button>p{
  margin: auto 2vw;
  padding: 1vh 1vw;
  font-size: 30px;
  font-weight: bold;
  background: rgb(250, 250, 5); 
  border-radius: 5%;
  text-shadow: 2px 2px rgb(197, 194, 194);
}

.return-btn{
  margin: auto 0;
  padding: 1vh 1vw;
  font-size: 20px;
  border: 1px solid #333;
  border-radius: 5%;
}

.item-btn{
  text-decoration: none;
}

.item-destroy{
  text-decoration: none;
}