.separate{
  display: flex;
  justify-content: flex-start;
}

.side-profile{
  width: 28%;
  height: 100vh;
  padding: 10px;
  background-color: rgb(232, 250, 249);
  overflow: scroll;
}

.user-pro{
  height: 12vh;
  margin-bottom:5px;
  display: flex;
  justify-content: space-between;
}

.nicknames{
  font-size: 18px;
  width: 78%;
}

.edit-back-btn{
  width: 22%;
  padding-right: 6%;
}

a.user-edit, a.back-btn{
  text-decoration: none;
  float: right;
  
}

.side-profile>h2{
  font-size: 18px;
  font-weight: bold;
  margin-bottom:5px;
}

.talent-office{
  margin-bottom:5px;
}

.talent-career{
  margin-bottom:5px;
}

.user-introduction{
  margin: 15px 0;
  width: 94%;
  height: 80%;
  border: 1px solid #333;
}

.ordered-items>h3{
  font-size: 16px;
  font-weight: bold;
  margin-bottom:5px;
}

.ordered-items> a.ordered-item{
  text-decoration: none;
  font-size: 16px;
  margin-bottom:5px;
  cursor: pointer;
}


.items-area{
  width: 78%;
  height: 100vh;
  overflow: scroll;
}

.user-items > p{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.item-img{
  border: 1px solid #333;
}